
/* ---------- Color Module Styles ----------- */

body {
  color: #8E9FCC;
  background: #22ABF9;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page-wrapper {
  background: url(images/bg.png);
}

#page {
  background: #F7F7FF;
}

#main-menu-links li {
  border-bottom: 1px solid #fff;
}
#main-menu-links li.active,
#main-menu-links li.active-trail {
  border-bottom: 0;
}
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #F7F7FF;
  border: 1px solid #fff;
  border-bottom: 0;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #48a9e4;
  background-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
  background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);
}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background: url(images/55bg.png);
  border-color: #f9f9f9;
}

#footer-wrapper {
  background: #07629A;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
